<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
    <title></title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                           
            {% for message in messages %}            
                <p>{{message}}</p>                  
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1 class="text-center">New Ninjas :D</h1>
    <div class="d-flex flex-wrap justify-content-around">
        <form action="/ninjas/process" method="post" class="col-6 p-3  text-black">
            
            <label for="dojos_id">Nombre dojo</label>
            <select name='dojos_id' id="dojos_id" class="form-select" aria-label="Default select example">
                
                {% for dojo in all_dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {%endfor%}
                
              </select>
            
            
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" class="form-control">
            </div>
            

            <div class="form-group">
                <label for="last_name">last name</label>
                <input type="text" id="last_name" name="last_name" class="form-control">
            </div>
           

            <div class="form-group">
                <label for="age">age</label>
                <input type="text" id="age" name="age" class="form-control">
            </div>
            <hr>
            <input type="submit" value="Add ninja" class="btn btn-success">
        </form>
    </div>

    
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>